apiVersion: v1
kind: Service
metadata:
  name: hello-bot-world-service
  labels:
    app: hello-bot-world
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: hello-bot-world
